.header {
  width: 100%;
  padding: 2%;
  background-color: rgb(19, 11, 61);
  color: rgb(255, 255, 253);
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgb(234, 106, 153); /* Adjusted to a valid RGB color */
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

.display-board:hover {
  transform: scale(1.05); /* Slightly increase size on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.number {
  color: rgb(67, 149, 187);
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}

.header-logo {
  width: 50px;  /* Điều chỉnh kích thước phù hợp */
  height: 50px; /* Điều chỉnh kích thước phù hợp */
  object-fit: cover; /* Đảm bảo ảnh vừa vặn và không bị méo */
  border-radius: 10px; /* Bo tròn 10px */
  border-width: 2px;
  border-color: black;
}
